[user]
	name = Colin Jaffe
	email = balloonasaurus@gmail.com
[diff]
	tool = vimdiff
[core]
	excludesFile = ~/.gitignore-global
[interactive]
	singleKey = true
[init]
	defaultBranch = main
[pull]
	rebase = false
