# i3xrocks config file
# # The man page for i3blocks is hosted at http://vivien.github.io/i3blocks
#
# List of valid properties:
#
# align
# color
# command
# full_text
# instance
# interval
# label
# min_width
# name
# separator
# separator_block_width
# short_text
# signal
# urgent

# Global properties
#
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
command=/home/abbreviatedman/.config/i3xrocks/$BLOCK_NAME
separator_block_width=35
markup=pango
color=xresource:i3xrocks.value.color
label_color=xresource:i3xrocks.label.color

# Link to execute shortcuts.
# [info]
# full_text=xresource:i3xrocks.label.help
# command=i3-msg -q exec /usr/bin/remontoire-toggle

# Network manager VPN
#
# Displays currently connected VPN using the nm-cli tool.
#[nm-vpn]
#interval=5

# Wifi
#
# Displays the wifi network's name
# If the auto-discovered wifi device is incorrect,
# override the "instance" value with the desired device
#[wifi2]
# Replace with your wifi device if you need on next line
#instance=wlp3s0 
#interval=5

# nettraffic
#
# Displays network load
# [nettraffic]
# interval=10

# Keyboard layout
#
# Displays current keyboard layout.
#[keyboard_layout]
#interval=persist

# Memory
#
#[memory]
#interval=10

# CPU usage
#
# The script may be called with -w and -c switches to specify thresholds,
# see the script for details.
# [cpu_usage]
# interval=5
# min_width=100%

# Battery indicator

[batterybar]
interval=1
markup=pango
min_width=bat: ■■■■■
# Discharging colors low to high
#C1=#FF0027
#C2=#FF3B05
#C3=#FFB923
#C4=#FFD000
#C7=#6DFF00
#C8=#10BA00
#CHARGING_COLOR=#00AFE3
#FULL_COLOR=#FFFFFF
#AC_COLOR=#535353 Rofication



#displays caps lock status
[keyindicator]
#Allowed keys are CAPS and NUM
KEY=CAPS
markup=pango
interval=1
signal=11
HIDE_WHEN_OFF=1
TEXT_ON=CapsLockOn
TEXT_OFF=CapsLockOff
COLOR_ON=#FF0000
#COLOR_OFF=#222222
#BG_COLOR_ON=
#BG_COLOR_OFF=



# Displays notifications.
[rofication]
command=/usr/share/i3xrocks/rofication-statusi3blocks.py
interval=1

# Date Time
[time]
command=date +"%H:%M | %Y-%m-%d"
interval=1

# Show title of focused window
# [focused-window-name]
# label=  # uncomment to show an icon
# interval=1
#filter_list=evince libreoffice # uncomment to show only for these window instances
# short_length=10 # uncomment to change maximum size of shortened text

[cpu-temp]
# command=sensors | grep Core | awk '{print $3}' | tr '\n' ' ' | tr -d '+' | tr -d '.0°C'
command=sensors | grep Core | awk '{print $3}' | tr '\n' ' ' | awk '{print $1}' | tr -d '+' | tr -d '.0'
interval=1
